!!!
%html{:itemscope => "", :itemtype => "http://schema.org/Article"}
  %head

    = csrf_meta_tags
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900','application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = render "layouts/meta"

    :css
      #prizes .prize {width: #{100.fdiv(Prize.all.count)}%;}
      @media screen and (max-width: 767px){#prizes .prize {width: 100%;}}

    - if Rails.env.production?
      / Global site tag (gtag.js) - Google Analytics
      %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-120524618-3"}
      :javascript
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

    / Facebook Pixel Code
    :javascript
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '924530717880000');
      fbq('track', 'PageView');

    %noscript
      %img{:height => "1", :src => "https://www.facebook.com/tr?id=924530717880000&ev=PageView&noscript=1", :style => "display:none", :width => "1"}/
    / End Facebook Pixel Code 

  %body
    - if flash[:notice]
      .alert.alert-success{role: "alert"}
        = flash[:notice]
    - if flash[:alert]
      .alert.alert-danger{role: "alert"}
        = flash[:alert]
    %section#content-wrapper

      %main#content
        = yield