!!!
%html{:itemscope => "", :itemtype => "http://schema.org/Article"}
  %head

    = csrf_meta_tags
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900','application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = render "layouts/meta"

    :css
      #prizes .prize {width: #{100.fdiv(Prize.all.count)}%;}
      @media screen and (max-width: 767px){#prizes .prize {width: 100%;}}

    <% if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120524618-3"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      </script>
    <% end %>

  %body
    - if flash[:notice]
      .alert.alert-success{role: "alert"}
        = flash[:notice]
    - if flash[:alert]
      .alert.alert-danger{role: "alert"}
        = flash[:alert]
    %section#content-wrapper

      %main#content
        = yield